@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero {
    @apply mt-0 text-center transform scale-100 text-lg bg-opacity-80 bg-gray-500 w-48 my-4 p-3 border border-yellow-500 rounded-md cursor-pointer text-yellow-500-alpha duration-300;
  }
  
  .hero:hover {
    @apply scale-105 animate-neon text-yellow-500;
  }

  .header {
    @apply bg-gray-500 flex items-center justify-around rounded-md border border-yellow-500 left-56 h-24 w-[var(--width-calc-value)] fixed;
  }

  .flow-container {
    @apply h-[var(--height-calc-flow)] w-[var(--width-calc-flow)] bg-gray-500 border border-yellow-500 rounded-md fixed top-32 left-56;
  }

  .test .react-flow__node,
  .react-flow__node-input,
  .nopan,
  .selectable {
    @apply border border-solid border-yellow-500 bg-black text-yellow-500-alpha
  }

  .body {
    @apply font-[STARWARS] bg-gray-800 h-full bg-[url('./../assets/images/starships.gif')] bg-cover bg-no-repeat bg-center bg-fixed bg-opacity-50;
  }

}

:root {
  --width-calc-value: calc(100% - 15rem);
  --height-calc-flow: calc(100vh - 142px);
  --width-calc-flow: calc(100% - 240px);
}

@font-face {
  font-family: 'STARWARS';
  src: url('./../assets/fonts/star-wars.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}