@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'STARWARS';
  src: url('./../assets/fonts/star-wars.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'STARWARS';
  background-image: url('./../assets/images/starships.gif');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-gray-rgb: 40,40,40;
  --background-end-rgb: 255, 255, 255;
}



